.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 430px;
}

.grid div{
    height: 20px;
    width: 20px;
}

.player-one{
    background-color: red;
    border-radius: 10px;
}

.player-two{
    background-color: blue;
    border-radius: 10px;
}
